body {
  width:100%;
  height: 100%;
  background: url(../images/login-background3.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  z-index: -2; 
  font-family: "Roboto", sans-serif;
}

#submitBTN {
  display: block;
  margin: auto;
  margin-top: 2%;
}

img {
  vertical-align: middle;
  border-style: none;
  padding: 20px;
  width: 300px;
}

#account-details {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 20px;
  width: 50%;
}

#loginPage {
  width:100%;
  height: 100%;
  content: "";
}

#title {
  color: rgb(63, 62, 62);
  font-size: 70px;
  text-shadow: 3px 3px 3px #566a7c;
  font-family: 'Julius Sans One', cursive;
  font-weight: bold;
}
  
#loginJumbo {
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 180px;
  display: block;
  margin: auto;
  margin-top: 10%;
}
  
.hbtn {
  box-shadow: 3px 3px 3px #363636;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 10px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 5px solid rgb(255, 255, 255);
  background-color: #4b5b80;
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
  font-family: 'Julius Sans One', cursive;
} 


.hbtn i {
  padding-right: 8px;
} 


.hb-border-off3 {
  border-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  transition: border-top-color 0.1s linear 0s, border-right-color 0.1s linear 0.07s, border-bottom-color 0.1s linear 0.14s, border-left-color 0.1s linear 0.21s;
} 


.hb-border-off3:hover {
  border-color: initial;
  border-color: transparent;
  transition: border-top-color 0.1s linear 0s, border-right-color 0.1s linear 0.07s, border-bottom-color 0.1s linear 0.14s, border-left-color 0.1s linear 0.21s;
} 


#profilePage::after, #mapSpace::after, #jobsPage::after, #messagePage::after, #contentPage::after {
    width:100%;
    height: 100%;
    content: "";
    background: url(../images/profile-background2.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    color: #fff;
}


#chat-messages-all {
    color: #fff;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 500px;
  width: 750px;
  margin: 20px;
  border: 6px solid white;
}
  
.jumbotron {
  width: 100%;
  text-align: center;
  margin-top: 5%;
}

#contact-image {
  height: 150px; 
  width: 150px;
  border-radius: 1000px;
}
  
.card {
  display: inline-block;
  margin: 10px;
  width: 345px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
  
  .sidenav p {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav p:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    background-color:#111;
    transition: margin-left .5s;
    padding: 16px;
    margin-bottom: 20px;
  }
  
.hamburger {
  color: white;
}
  
#contact-section {
  background-color: rgba(255, 255, 255, 0.747);
  padding: 20px;
  text-align: center;
  text-align: justify;
}

.form-group {
  display: block;
  margin: auto;
}

  .text {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #4b5b80;
    font-family: 'Julius Sans One';
  }

  .form {
    background-color: rgba(255, 255, 255, 0.753);
    padding: 20px;
  }

  .message{
    width: auto;
    margin-bottom: 2px;
  }
  .message-inner {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(232, 232, 232);
    border-radius: 100px;
  }
  
  .message.from-me{
    text-align: right;
  }

  .message.from-me .message-inner {
    background-color: blue;
    color: #fff;
  }

  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }
